
 
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#wrapper {
	max-width:1000px;
	height: auto;
    margin:0 auto;
}

img{
	width: 100%;
	height: auto;
	display: block;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875em;
	line-height: 1,125em; 
}


