.Facility-list__forrest{
    padding-left: 1.6em;
}

.Facility-list__forrest::before{
    content: "\f1bb"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.6em; 
}